<div>
    <div class="container text-center">
        <h4 class="footer-links"> 
            <a href="" class="footer-links">@WeeklyEdible</a>

            <!-- Twitter -->
            <i class="fab fa-twitter"></i>

            <!-- Instagram -->
            <i class="fab fa-instagram"></i>

            <!-- Youtube -->
            <i class="fab fa-youtube"></i>
            |
            <a href="" class="footer-links">info@WeeklyEdible.com</a>
        </h4>
        <div class="">
            <h5 class="footer-copyright">Copyright &copy 2021 WeeklyEdible. All rights reserved.</h5>
        </div>
    </div>
</div>